page-soporte {
    .margen{
        margin: 1px 0;
    }
    .left_margen{
        color: #12365E;
        padding-left: 8px
    }
    .left_margen_{
        color: #BEC0C3;
        padding-left: 8px
    }
    .marRow{
        margin: 10px;
    }
    .tablaPaqEntre{
        background:#F2F3F4;
    }
}
