page-entrega {
    .margen{
        margin: 10px 0;
    }
    .left_margen{
        color: #12365E;
        padding-left: 8px
    }
    .left_margen_{
        color: #BEC0C3;
        padding-left: 8px
    }
    .tablaPaqEntre{
        background:#F2F3F4;
        -webkit-box-shadow: 9px 1px 12px 0px rgba(0,0,0,0.46);
        -moz-box-shadow: 9px 1px 12px 0px rgba(0,0,0,0.46);
        box-shadow: 9px 1px 12px 0px rgba(0,0,0,0.46);
    }
}
